<!DOCTYPE html>
<html lang="en" ng-app=myApp>

<head>
    <meta charset="UTF-8">
    <title>Angular Setup</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>

<body>

    <div ng-controller="myController">
        NAME:
        <input ng-model="name">
        <h4>You Entered: {{ name }}</h4>
    </div>








    <!--
    <div ng-controller="myController">
        Name:
        <input ng-model="birthMonth">
        
    </div>
-->

    <script src="app.js"></script>
</body>

</html>










<!--
<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>Angular Setup</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

</head>

<body ng-controller="MainController" class="container">
    <div class="row">
        <div class="col-md-4" ng-repeat="kill in player.kills">
            <h3>{{ kill.handle }}</h3>
            <h6>{{ kill.rank }}</h6>
            <h4>User names:</h4>
            <ul>
                <li ng-repeat="handle in kill.clan">{{ handle }}</li>
            </ul>
        </div>
    </div>

    <script src="app.js"></script>
</body>

</html>-->