<!DOCTYPE html>
<html lang="en" ng-app="cartoonApp">

<head>
    <meta charset="UTF-8">
    <title>Kartoon Keepers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Bahiana|Bangers|Cabin+Sketch|Fredoka+One|Luckiest+Guy|Sigmar+One|Unica+One" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

</head>

<body ng-controller="cartoonController">

    <div class="container">
        <div class="glass"></div>
        <div class="row">
            <h1>Kartoon Keepers</h1>
        </div>
        <div class="row input-fields">
            <div col-sm-3>
                <input type="url" placeholder="url" ng-model="inUrl">
            </div>
            <div col-sm-3>
                <input type="text" placeholder="title" ng-model="inTitle">
            </div>
            <div col-sm-3>
                <input type="text" placeholder="description" ng-model="inDescription">
            </div>
            <div col-sm-3>
                <button type="button" class="btn btn-outline-info" ng-click="postEntry(inModel, inTitle, inDescription)">submit</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                {{ cartoonList }}
            </div>
        </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="services/storage.js"></script>
    <script src="app.js"></script>
</body>

</html>