<!doctype html>

<html ng-app="">

<head>
    <title>Practice Angular</title>
    <link rel="stylesheet" href="style.css">
    </lnk>
</head>

<body>
    <input type="text" ng-model='name'>
    <br>
    <div>
        <span class='one'>{{name}}</span>
        <span class='two'>{{name}}</span>
        <span class='three'>{{name}}</span>
        <span class='four'>{{name}}</span>
        <span class='five'>{{name}}</span>
        <span class='six'>{{name}}</span>
        <span class='seven'>{{name}}</span>
        <span class='one'>{{name}}</span>
        <span class='two'>{{name}}</span>
        <span class='three'>{{name}}</span>
        <span class='four'>{{name}}</span>
        <span class='five'>{{name}}</span>
        <span class='six'>{{name}}</span>
        <span class='seven'>{{name}}</span>
    </div>
    <div>
        <span class='one'>{{name}}</span>
        <span class='two'>{{name}}</span>
        <span class='three'>{{name}}</span>
        <span class='four'>{{name}}</span>
        <span class='five'>{{name}}</span>
        <span class='six'>{{name}}</span>
        <span class='seven'>{{name}}</span>
        <span class='one'>{{name}}</span>
        <span class='two'>{{name}}</span>
        <span class='three'>{{name}}</span>
        <span class='four'>{{name}}</span>
        <span class='five'>{{name}}</span>
        <span class='six'>{{name}}</span>
        <span class='seven'>{{name}}</span>
    </div>
    <div>
        <span class='one'>{{name}}</span>
        <span class='two'>{{name}}</span>
        <span class='three'>{{name}}</span>
        <span class='four'>{{name}}</span>
        <span class='five'>{{name}}</span>
        <span class='six'>{{name}}</span>
        <span class='seven'>{{name}}</span>
        <span class='one'>{{name}}</span>
        <span class='two'>{{name}}</span>
        <span class='three'>{{name}}</span>
        <span class='four'>{{name}}</span>
        <span class='five'>{{name}}</span>
        <span class='six'>{{name}}</span>
        <span class='seven'>{{name}}</span>
    </div>
    <div>
        <span class='one'>{{name}}</span>
        <span class='two'>{{name}}</span>
        <span class='three'>{{name}}</span>
        <span class='four'>{{name}}</span>
        <span class='five'>{{name}}</span>
        <span class='six'>{{name}}</span>
        <span class='seven'>{{name}}</span>
        <span class='one'>{{name}}</span>
        <span class='two'>{{name}}</span>
        <span class='three'>{{name}}</span>
        <span class='four'>{{name}}</span>
        <span class='five'>{{name}}</span>
        <span class='six'>{{name}}</span>
        <span class='seven'>{{name}}</span>
    </div>
    <div>
        <span class='one'>{{name}}</span>
        <span class='two'>{{name}}</span>
        <span class='three'>{{name}}</span>
        <span class='four'>{{name}}</span>
        <span class='five'>{{name}}</span>
        <span class='six'>{{name}}</span>
        <span class='seven'>{{name}}</span>
        <span class='one'>{{name}}</span>
        <span class='two'>{{name}}</span>
        <span class='three'>{{name}}</span>
        <span class='four'>{{name}}</span>
        <span class='five'>{{name}}</span>
        <span class='six'>{{name}}</span>
        <span class='seven'>{{name}}</span>
    </div>
    <div>
        <span class='one'>{{name}}</span>
        <span class='two'>{{name}}</span>
        <span class='three'>{{name}}</span>
        <span class='four'>{{name}}</span>
        <span class='five'>{{name}}</span>
        <span class='six'>{{name}}</span>
        <span class='seven'>{{name}}</span>
        <span class='one'>{{name}}</span>
        <span class='two'>{{name}}</span>
        <span class='three'>{{name}}</span>
        <span class='four'>{{name}}</span>
        <span class='five'>{{name}}</span>
        <span class='six'>{{name}}</span>
        <span class='seven'>{{name}}</span>
    </div>
    <div>
        <span class='one'>{{name}}</span>
        <span class='two'>{{name}}</span>
        <span class='three'>{{name}}</span>
        <span class='four'>{{name}}</span>
        <span class='five'>{{name}}</span>
        <span class='six'>{{name}}</span>
        <span class='seven'>{{name}}</span>
        <span class='one'>{{name}}</span>
        <span class='two'>{{name}}</span>
        <span class='three'>{{name}}</span>
        <span class='four'>{{name}}</span>
        <span class='five'>{{name}}</span>
        <span class='six'>{{name}}</span>
        <span class='seven'>{{name}}</span>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</body>

</html>




<!--
<div>
    <p>Name:
        <input type="text" ng-model="name">
    </p>
    <p>{{name}}</p>
</div>-->