.one {
    color: red;
}

.two {
    color: orange;
}

.three {
    color: yellow;
}

.four {
    color: green;
}

.five {
    color: blue;
}

.six {
    color: indigo;
}

.seven {
    color: violet;
}

