<h1>{{ love }}</h1>

<div class="container">
    <div class=row>
        <div class="col-sm-4 img1">
            <img src="http://www.oregon.com/sites/default/files/northern-coast.jpg" alt="">
        </div>
        <div class="col-sm-4 row img2">
            <img src="http://www.oregon.com/sites/default/files/greater-portland.jpg" alt="">
        </div>
        <div class="col-sm-4 row img3">
            <img src="http://www.oregon.com/sites/default/files/centraloregon2400.gif" alt="">
        </div>
        <div class="image-responsive img4">
            <img src="https://s-media-cache-ak0.pinimg.com/originals/3f/ce/b7/3fceb7429bb5df1f7feb319225f2d8f4.jpg" alt="">
        </div>
        <div class="col-sm-4 row img5">
            <img src="http://images.summitpost.org/original/5175.jpg" alt="">
        </div>
    </div>
</div>