<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>Angular ng-Model</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body ng-controller="myController">

    <div class="container-fluid">
        <div>
            <input ng-model="name" class="input-lg" "well">
            <h6>box contents: {{ name }}</h6>
        </div>
        <br>
        <div>
            <input ng-model="hair" class="input-lg" "input-color" "well">
            
            <h6>box contents: {{ hair }}</h6>
            <br>
        </div>
        <div>
            <input ng-model="eyes" class="input-lg" "input-color" "well">
            <h6>box contents: {{ eyes }}</h6>
            <br>
        </div>

    </div>
    


    <script src="app.js"></script>
</body>

</html>










<!--
<!DOCTYPE html>
<html lang="en" ng-app="iApp">

<head>
    <meta charset="UTF-8">
    <title>angular ng model</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>

<body ng-controller="iController">
    <h1>Simple Angular Website</h1>
    <input ng-model="input1">
    <input>
    <input ng-model="input3">
    <h2>{{ input1 }}</h2>
    <h2>{{ input2 }}</h2>
    <h2>{{ input3 }}</h2>
    <script src="app.js"></script>
</body>

</html>-->